# 1.	Write a Python Program to Find the Factorial of a Number?

In [ ]:
def fact(num):
    a=1
    for i in range(1, num+1):
        a = a*i
    return a

In [ ]:
fact(4)

# 2.	Write a Python Program to Display the multiplication Table?

In [14]:
def mul(num):
    for i in range(1, 11):
        print(num ,"*" ,i,'=' ,num*i)

In [15]:
mul(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [3]:
#three variable initialise a,b, and count(to how many number)
a=0
b=1
count=1
while count<=10:
    b,a= a,a+b
    print(a)
    count= count+1

1
1
2
3
5
8
13
21
34
55

# 4.	Write a Python Program to Check Armstrong Number?

In [6]:
num= input("Enter the number: ")
order = len(num)

sum=0
temp= int(num)
while temp>0:
    rem= temp%10
    sum= sum + (rem**order)
    temp = temp //10

if int(num) == sum:
    print(num, "is an armstrong number")
else:
    print(num, "not an armstrong number")

Enter the number: 407
407 is an armstrong number

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [1]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [7]:
lowest = int(input("enter the lowest natural num:"))
highest = int(input("enter the highest natural num:"))

sum= 0
for i in range(lowest, highest+1):
    sum = sum+i
print(sum)

enter the lowest natural num:1
enter the highest natural num:100
5050